<div>

    <h1>Hola! Todo listo para trabajar con Websocket</h1>

</div>

{{!-- Enlazando scrpits que hacen referencia al uso de--}}
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>