<div>
    ENVIO DE MENSAJES CON WEBSOCKETS!
    <div>
        <input id="textoEntrada" type="text" alt="Escribe tu mensaje aqui...">
    </div>
    <p id="log"/>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/messages.js"></script>