<div>

    <h1>Listado de productos en tiempo real:</h1>
    <ul>

        {{#each productos}}
        <li>Id: {{this.id}} | Titulo: {{this.title}} <br/>------- Codigo: {{this.code}} <br/>------- Precio: ${{this.price}}</li>
        <br/>
        {{/each}}

    </ul>

</div>


<script src="/socket.io/socket.io.js"></script>