<div>
    <h1>Logueate usando Github</h1>
    <a href="/api/sessions/github"><button>Entrar con Github</button></a>
    <br>
    <h2>No quiere usar GitHub? Puedes usar nuestros enlaces</h2>
    <p>¿Ya tiene una cuenta? <a href="/users/login">Inicie sesion aqui!</a></p>
    <p>¿Aun no esta registrado? <a href="/users/register">Registrese aqui!</a></p>
</div>